flows.json
[
    {
        "id": "28df018e4ea7c83e",
        "type": "tab",
        "label": "DEVICE INIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "faaa4f54ed7597d7",
        "type": "tab",
        "label": "DATA IN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd314c22813d11fc",
        "type": "tab",
        "label": "SYSTEM STATUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3559f90766b0184",
        "type": "tab",
        "label": "HTTP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3808b3b0abf131f7",
        "type": "group",
        "z": "faaa4f54ed7597d7",
        "name": "Guardado de data local",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "295b8eca5eb373be",
            "91b59430532c1fb5",
            "cbaa07d685e2a818",
            "118a58728bddf7e3",
            "43c8846d1ce04c26",
            "d39941b5f2d46475",
            "e18d6e5d0350ae43",
            "37f00e3d3bd9c8d9",
            "437f7af07014ef8a"
        ],
        "x": 54,
        "y": 259,
        "w": 1092,
        "h": 162
    },
    {
        "id": "686d9ccfaccf762f",
        "type": "group",
        "z": "faaa4f54ed7597d7",
        "name": "DELETE ALL DATA MANUALLY (CAREFULL)",
        "style": {
            "label": true
        },
        "nodes": [
            "3f555f6973d84794",
            "cd4456431ea37fa3",
            "cfe38dfce77990e9"
        ],
        "x": 54,
        "y": 519,
        "w": 572,
        "h": 82
    },
    {
        "id": "cdf672981e934209",
        "type": "mqtt-broker",
        "name": "",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "900cbd7c7392856c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "940186cba458fc3d",
        "type": "inject",
        "z": "28df018e4ea7c83e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9f3ac2bcace26dcd"
            ]
        ]
    },
    {
        "id": "9f3ac2bcace26dcd",
        "type": "change",
        "z": "28df018e4ea7c83e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"A13CHH\",\"timestamp\":1703624401476,\"data\":{\"gps\":{\"pos_valid\":0,\"latitude\":-12.0477003,\"longitude\":-77.100844,\"altitude\":84.782,\"haccuracy\":5.7,\"speed\":0,\"course\":26.45},\"mantto\":\"0\",\"running\":\"0\",\"hourmeter\":0,\"battery\":0,\"pressure\":{\"current\":0},\"load\":0,\"pressure_bar\":0,\"pressure_psi\":0}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1de59b82acd33bdc",
        "type": "mqtt in",
        "z": "faaa4f54ed7597d7",
        "name": "",
        "topic": "data/combined",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cdf672981e934209",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "39bec495e61bf8d8"
            ]
        ]
    },
    {
        "id": "295b8eca5eb373be",
        "type": "function",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "function 103",
        "func": "\nmsg.topic = \"INSERT INTO `local_data` (`data`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 380,
        "wires": [
            [
                "118a58728bddf7e3",
                "91b59430532c1fb5"
            ]
        ]
    },
    {
        "id": "91b59430532c1fb5",
        "type": "mysql",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "mydb": "900cbd7c7392856c",
        "name": "",
        "x": 1060,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "cbaa07d685e2a818",
        "type": "json",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "295b8eca5eb373be"
            ]
        ]
    },
    {
        "id": "118a58728bddf7e3",
        "type": "debug",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 340,
        "wires": []
    },
    {
        "id": "43c8846d1ce04c26",
        "type": "debug",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "debug 123",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "d39941b5f2d46475",
        "type": "function",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "Filter local data",
        "func": "let out_data = {}\n\nout_data.timestamp = msg.payload.timestamp;\nout_data.latitude = msg.payload.data.gps.latitude;\nout_data.longitude = msg.payload.data.gps.longitude;\nout_data.velocidad = msg.payload.data.gps.speed;\nout_data.carga = msg.payload.data.load;\nout_data.bateria = msg.payload.data.battery;\nout_data.presion_bar = msg.payload.data.pressure_bar;\nout_data.presion_psi = msg.payload.data.pressure_psi;\n// out_data.estado =\nmsg.payload = out_data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "43c8846d1ce04c26",
                "cbaa07d685e2a818"
            ]
        ]
    },
    {
        "id": "3f555f6973d84794",
        "type": "inject",
        "z": "faaa4f54ed7597d7",
        "g": "686d9ccfaccf762f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "cd4456431ea37fa3"
            ]
        ]
    },
    {
        "id": "cd4456431ea37fa3",
        "type": "function",
        "z": "faaa4f54ed7597d7",
        "g": "686d9ccfaccf762f",
        "name": "DELETE ALL",
        "func": "\nmsg.topic = `\n  DELETE FROM local_data;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            [
                "cfe38dfce77990e9"
            ]
        ]
    },
    {
        "id": "cfe38dfce77990e9",
        "type": "mysql",
        "z": "faaa4f54ed7597d7",
        "g": "686d9ccfaccf762f",
        "mydb": "900cbd7c7392856c",
        "name": "",
        "x": 540,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "252f650c7464a3f8",
        "type": "change",
        "z": "faaa4f54ed7597d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6aaedab152bbc411",
        "type": "function",
        "z": "faaa4f54ed7597d7",
        "name": "filtering",
        "func": "var data_json = msg.payload;\n\ndata_json.data.battery = data_json.data.battery.voltage/1000;\ndata_json.data.load = data_json.data.pressure.current/1000;\ndata_json.data.pressure_bar = (data_json.data.pressure.current-4000)*250/16000;\ndata_json.data.pressure_psi = (data_json.data.pressure.current-4000)*3625/16000;\n\nmsg.payload = data_json;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [
            [
                "252f650c7464a3f8"
            ]
        ]
    },
    {
        "id": "e18d6e5d0350ae43",
        "type": "function",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "filtering",
        "func": "var data_json = global.get(\"filtered_data\");\nmsg.payload = data_json;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "d39941b5f2d46475",
                "437f7af07014ef8a"
            ]
        ]
    },
    {
        "id": "37f00e3d3bd9c8d9",
        "type": "inject",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "e18d6e5d0350ae43"
            ]
        ]
    },
    {
        "id": "437f7af07014ef8a",
        "type": "debug",
        "z": "faaa4f54ed7597d7",
        "g": "3808b3b0abf131f7",
        "name": "debug 176",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "39bec495e61bf8d8",
        "type": "switch",
        "z": "faaa4f54ed7597d7",
        "name": "Filter Gateway",
        "property": "payload.gateway_key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A13CHH",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "6aaedab152bbc411"
            ]
        ]
    },
    {
        "id": "4d4295502b9089fd",
        "type": "http in",
        "z": "f3559f90766b0184",
        "name": "",
        "url": "/status-loc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "58d05188537d097c"
            ]
        ]
    },
    {
        "id": "ee84a2afe42589e3",
        "type": "http in",
        "z": "f3559f90766b0184",
        "name": "",
        "url": "/speed",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "d107c11a308aefca"
            ]
        ]
    },
    {
        "id": "2f2d9f304f7176ee",
        "type": "http in",
        "z": "f3559f90766b0184",
        "name": "",
        "url": "/load",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "1d176c38b3df1bd0"
            ]
        ]
    },
    {
        "id": "d107c11a308aefca",
        "type": "change",
        "z": "f3559f90766b0184",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filtered_data.data.gps.speed",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "1bb24772073ebcbc",
                "3e9ddb0cc7b53619"
            ]
        ]
    },
    {
        "id": "1bb24772073ebcbc",
        "type": "http response",
        "z": "f3559f90766b0184",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "3e9ddb0cc7b53619",
        "type": "debug",
        "z": "f3559f90766b0184",
        "name": "debug 166",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d176c38b3df1bd0",
        "type": "change",
        "z": "f3559f90766b0184",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filtered_data.data.load",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "de158e254d0e9e0f"
            ]
        ]
    },
    {
        "id": "de158e254d0e9e0f",
        "type": "http response",
        "z": "f3559f90766b0184",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "e1a4cf02b81fcc16",
        "type": "debug",
        "z": "f3559f90766b0184",
        "name": "debug 167",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "58d05188537d097c",
        "type": "function",
        "z": "f3559f90766b0184",
        "name": "coordinates",
        "func": "var data_json = global.get(\"filtered_data\");\n\nmsg.payload = [data_json.data.gps.latitude, data_json.data.gps.longitude];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "a50b653253ed5f6a",
                "79ba7b829ccece0f"
            ]
        ]
    },
    {
        "id": "a50b653253ed5f6a",
        "type": "debug",
        "z": "f3559f90766b0184",
        "name": "debug 168",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "79ba7b829ccece0f",
        "type": "http response",
        "z": "f3559f90766b0184",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "5bd16a39db3e67f2",
        "type": "http in",
        "z": "f3559f90766b0184",
        "name": "",
        "url": "/hourmeter",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "87c06534bfb5c337"
            ]
        ]
    },
    {
        "id": "87c06534bfb5c337",
        "type": "change",
        "z": "f3559f90766b0184",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"hours\":2, \"minutes\":20}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "345b33195005afcb"
            ]
        ]
    },
    {
        "id": "345b33195005afcb",
        "type": "http response",
        "z": "f3559f90766b0184",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 580,
        "y": 440,
        "wires": []
    }
]